body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

/* header */
header{
    overflow: hidden;
}

.search{
    width: 1100px;
    margin-top: 3%;
    margin-left: 5%;
    float: left;
}

.search svg{
    fill:  #4b88bb;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 10px;
    float: left;
}

.search #search-book{
    width: 800px;
    height: 30px;
    margin-left: 20px;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid grey;
    background-color: #ececec; 
    float: left;
}

.search p{
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 20px;
    color: grey;
    display: inline-block;
}

.logo {
    width: 270px;
    color: white;
    margin-top: 3%;
    float: left;
    overflow: hidden;
}

.logo img{
    margin-left: 30px;
    float: left;
}
.logo h1{
    color: #4b88bb;
    margin: 5px 0 0 110px;
}
/* end header */

/* article just-read */
.just-read, .already-read{
    background-color: #f3f3f3;
    width: 600px;
    height: 700px;
    margin-left: 5%;
    margin-top: 50px;
    padding: 10px 0 30px 30px;
    border-radius: 10px;
    display: inline-block;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.content-book{
    width: 95%;
    margin-top: 40px;
    padding: 10px;
    overflow: hidden;
    color: #4b88bb;
    border-radius: 10px;
}

.content-book img{
    float: left;
    margin-right: 30px;
}

.description{
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.finish-read, .favorite-book{
    width: 35%;
    background-color: #4b88bb;
    display: inline-block;
    border-radius: 10px;
    margin-right: 15px;
}

.finish-read svg, .favorite-book svg{
    float: left;
    margin: 9px 10px 0 20px;
}

.finish-read h3, .favorite-book h3{
    margin: 9px 0;
    color: white;
}

.finish-read:hover{
    background-color: green;
    cursor: pointer;
}

.favorite-book:hover{
    background-color: magenta;
    cursor: pointer;
}
/* end article just-read */

/* sidebar */ 
.container-sidebar{
    width: 270px;
    height: 730px;
    padding-top: 10px;
    margin-top: 50px;
    float: left;
    background-color: #4b88bb;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item{
    color: white;
    margin-top: 5%;
    overflow: hidden;
    padding: 15px 0;
}

.item:hover , .item:hover svg{
    background-color:  #ececec;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #4b88bb;
    fill: #4b88bb;
    cursor: pointer;
}

.item svg{
    float: left;
    fill: white;
    margin-left: 40px;
    border-radius: 5px;
}

.item h3{
    margin: 7px 0 0 100px;
}

.icon-show-book{
    width: 60px;
    height: 60px;
    background-image: url(../asset/icon/show_book.svg);
    background-size: cover;
}
/* end sidebar */