body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

a {
    text-decoration: none;
}

.card-best-effect {
    box-shadow: 0 4px 8px 0 rgba(139, 139, 139, 0.2);
}

/* header */
header {
    overflow: hidden;
}

.search {
    width: 1100px;
    margin-top: 3%;
    margin-left: 5%;
    float: left;
}

.search svg {
    fill: #4b88bb;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 10px;
    float: left;
}

.search #search-book {
    width: 800px;
    height: 30px;
    margin-left: 20px;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid grey;
    background-color: #ececec;
    float: left;
}

.search p {
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 20px;
    color: grey;
    display: inline-block;
}

.logo {
    width: 270px;
    color: white;
    margin-top: 3%;
    float: left;
    overflow: hidden;
}

.logo img {
    margin-left: 30px;
    float: left;
}

.logo h1 {
    color: #4b88bb;
    margin: 5px 0 0 110px;
}

/* end header */

/* not found */
.not-found {
    position: fixed;
    top: 25%;
    left: 40%;
    align-items: center;
    text-align: center;
}

.not-found a {
    text-decoration: none;
    color: #4b88bb;
    width: 250px;
}

.not-found h1 {
    color: #4b88bb;
}

.not-found p {
    color: #777777;
}

.not-found h2 {
    width: 250px;
    margin: 5% 28%;
    box-shadow: 2px 5px 10px #d8d8d8, -2px -2px 5px white;
    border-radius: 10px;
    padding: 10px;
}

.not-found h2:hover {
    box-shadow: 2px 5px 5px #dbdbdb inset, -2px -2px 5px white inset;
    color: #47daff;

}
/* end not found */

/* article just-read */
.just-read,
.already-read {
    width: 600px;
    height: 700px;
    margin-left: 5%;
    margin-top: 50px;
    padding: 10px 0 30px 30px;
    border-radius: 10px;
    display: inline-block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: red;
    color: #4b88bb;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content-book {
    width: 95%;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 10px;
}

.content-book img {
    width: 95px;
    height: 151px;
    float: left;
    margin-right: 30px;
}
 
.content-book p {
    color: grey; 
}

.description, .author{
    overflow: hidden;
    margin: 0px 0 10px 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-book h2{
    overflow: hidden;
    margin: 0px 0 10px 0;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* ==== finish read button & favorite button ===== */

.content-book button{ 
    background-color: #ececec;
    box-shadow: 2px 5px 10px #d8d8d8, -2px -2px 5px white;
    display: inline-block;
    border-radius: 10px;
    margin-right: 15px;
    border: none;
}

    /* -- icon -- */

.icon-finish-read {
    background-image: url("../asset/icon/done.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    float: left;
    margin: 6px;
    transition: 0.5s ease;
}

.icon-favorite{
    background-image: url("../asset/icon/favorite.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    float: left;
    margin: 6px;
    transition: 0.5s ease;
}  

.icon-favorited{
    background-image: url("../asset/icon/favorited.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    float: left;
    margin: 6px;
    transition: 0.5s ease;
}  

.icon-remove{
    background-image: url("../asset/icon/remove.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    float: left;
    margin: 6px;
    transition: 0.5s ease;
}  

.icon-back-read{
    background-image: url("../asset/icon/back_read.svg");
    width: 24px;
    height: 24px;
    background-size: contain;
    float: left;
    margin: 6px;
    transition: 0.5s ease;
}  

    /* -- end-icon -- */

.content-book button:hover .icon-favorite,
.content-book button:hover .icon-read {
    transform: scale(0.9);
}

.content-book button:hover {
    cursor: pointer;
    box-shadow: 2px 5px 5px #dbdbdb inset, -2px -2px 5px white inset;
}

/* ==== end finish read button & favorite button ===== */

.year{
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    color: #777777;
}
/* end article just-read & already-read */

/* sidebar */
.container-sidebar {
    width: 270px;
    height: 730px;
    padding-top: 10px;
    margin-top: 50px;
    float: left;
    background-color: #4b88bb;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 15px 0;
    transition: 0.8s ease;
}

.item:hover {
    background-color: #d4ebff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #4b88bb;
    cursor: pointer;
}

.item:hover svg {
    fill: #4b88bb;
}

.item svg {
    float: left;
    fill: white;
    margin-left: 40px;
    border-radius: 5px;
}

.item h3 {
    margin: 7px 0 0 100px;
}

.icon-show-book {
    width: 60px;
    height: 60px;
    background-image: url(../asset/icon/show_book.svg);
    background-size: cover;
}

.active{
    fill: #4b88bb;
    background-color: #ececec;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #4b88bb;
    cursor: pointer;
}

.active svg {
    fill: #4b88bb;
}
/* end sidebar */


/* message */
.message{
    top: 40%;
    left: 45%;
    position: fixed;
    align-items: center;
    padding: 0px 30px;
    border-radius: 8px;
    background-color: #dadada;
    box-shadow: 2px 5px 10px #d8d8d8, -2px -2px 5px white; 
    text-align: center;
    font-size: 2ch; 
    display: none; 
}

.message p {
    color: #656565;
}

.background-message{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    background-color: #46464644;
    display: none; 
}

.message div{
    width: 40%;
    padding: 10px 10px;
    background-color: #bdbdbd; 
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.message div:hover{
    cursor: pointer;
    background-color: #979797;
}

.fade{
    position: fixed;
    display: block; 
    opacity: 0;
    animation: fade 0.5s ease forwards;
}

@keyframes fade{
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* end-message */

@media only screen and (max-width: 1024px){
    .logo{
        margin: 60px 0 20px 40px;
    }

    .search{
        margin: 30px 10px 0px 10px;
    }

    .search #search-book{
        display: block;
    }
    
    .search p{
        display: none;
    }

    .just-read,
    .already-read{
        width: 380px;
        height: fit-content;
        margin-left: 0;
        margin-right: 0;
    }

    .container-sidebar{
        width: 100%;
        height: fit-content;
    }

    .message{
        left: 10%;
        right: 10%;
    }

    .not-found{
        position: relative;
        left: 0%;
    }

    .not-found h2{
        margin: 5% 20%;
    }
    
    .not-found p{
        padding: 0 50px;
        line-height: 20px;
    }
}